* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '-apple-system', consolas;
}
html {
    height: 100%;
    width: 100%;
    color-scheme: light dark;
}
header {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    margin-right: auto;
}
.logo a {
    font-size: 30px;
    letter-spacing: -3;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}
.nav_list {
    list-style: none;
}
.nav_list li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_list li a {
    transition: all 0.3s ease 0s;
}
.nav_list li a:hover {
    color: #00b6b6;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 1;
}
h2 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    letter-spacing: -1;
    
}
span {
    font-size: 50px;
    font-weight: normal;
    display: block;
}
li, a, button {
    font-family: '-apple-system', "Helvetica", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
button {
    width: 100px;
    height: 50px;
    margin-left: 20px;
    color: #fff;
    background: #222;
    position: relative;
    cursor: pointer;
    z-index: 1;
    border-radius: 10px;
    border: none;
}
button::before {
    content: '';
    width: 108px;
    height: 58px;
    top: -4px;
    left: -4px;
    color: #fff;
    background: linear-gradient(45deg, red, orange, yellow, green, cyan, blue, purple, red);
    filter: blur(5px);
    background-size: 1000%;
    animation: amSize 40s linear infinite;
    position: absolute;
    border-radius: 10px;
    transition: all .35s;
    z-index: -1;
    border: none;
    opacity: 0;
}
button::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222;
    border-radius: 10px;
    z-index: -1;
    opacity: 1;
}
button:hover::before {
    opacity: 1;
}
@keyframes move {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(540deg);
    }
}
@keyframes amSize {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1000% 0;
    }
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131417;
    background-image: linear-gradient(315deg, #131417 0%, #1e1f26 74%);
}