.content {
    max-width: 100%;
    max-height: 100%;
    padding: $masthead-height 0 0;
    padding-bottom: 9em;
    color: $text-color;
    font-family: $global-font-family;
    line-height: 1.5;
    background-color: transparent;

    &.overflow--hidden {
      /* when primary navigation is visible, the content in the background won't scroll */
      overflow: hidden;
    }
}